@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&family=Lexend+Exa&display=swap');
body{
  background: #1b2028;
  margin: 0;
}

.wpm{
  position: absolute;
  font-size: 25px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
  margin-left: 60px;
  color: #7190ff;
  cursor: pointer;
}

.timePassed{
  position: absolute;
  font-size: 25px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
  color: #7190ff;
  cursor: pointer;
}

.logo{
  position: absolute;
  display: flex;
  width: 330px;
  top: 50px;
  justify-content: space-between;
  align-items: center;
  -webkit-user-drag: none;
  user-select: none;
}

.bolt{
  cursor: pointer;
  transition: all 0.5s ease;
}

.bolt:hover{
  transform: rotate(-15deg);
}

.title{
  font-family: 'Lexend Exa', sans-serif;
  color: white;
  font-size: 45px;
  user-select: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.title:hover{
  transform: rotate(3deg);
}

.githubLogo{
  position: absolute;
  top: 50px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
  mix-blend-mode: normal;
  transition: all 0.25s ease;
  opacity: 0.85;
}

.githubLogo:hover{
  opacity: 1;
}

@media only screen and (max-width: 650px) {
  .githubLogo{
    opacity: 0;
  }
}

.end-box{
  position: absolute;
  top: 43%;
  left: 50%;
  max-width: 700px;
  width: 70%;
  height: 200px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.reset-button{
  width: 80px;
  height: 80px;
  border-radius: 15px;
  margin-top: 8px;
  color: white;
  font-family: "Lexend Deca";
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  background: rgba(160, 177, 255, 0.041);
  transition: all 0.25s ease;
}

.reset-button:hover{
  background: rgba(160, 177, 255, 0.1);
}

.reset-button > img{
  width: 25px;
  height: 28px;
}

.wpm-title, .acc-title, .time-title{
  color: #4b5975;
  font-size: 25px;
  font-family: "Lexend Deca";
}

.acc-final, .wpm-final, .time-final{
  color: #7190ff;
  font-size: 55px;
  font-family: "Lexend Deca";
}


.typeBox{
  position: absolute;
  top: 45%;
  left: 50%;
  max-width: 900px;
  width: 70%;
  height: 135px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  overflow: hidden;
  user-select: none;
}

.typeBox > div{
  font-size: 23px;
  font-family: "Lexend Deca";
  margin-bottom: 15px;
  margin-right: 13px;
  display: inline-block;
}

.typeBox > div > span{
  color: #3d485f;
  transition: all 0.1s ease;
}

.carot{
  position: absolute;
  width: 3px;
  height: 35px;
  background: #49577200;
  border-radius: 5px;
  z-index: 2;
  animation: fadeInOut 1s ease infinite;
  transition: all 0.1s ease;
}

@keyframes fadeInOut {
  0%{ opacity: 0; }
  50%{ opacity: 1; }
  100%{ opacity: 0; }
}